<h3>How do I win cookies</h3>
<p>You can win cookies <%= link_to "here", betas_path %></p>

<h3>Do I need to enable cookies in my browser?</h3>
<p>We <em>strongly</em> recommend that cookies are enabled.</p>

<h3>Can I win edible cookies?</h3>
<p>We understand the desire to win cookies that one can actually eat. Unfortunately, due to <em>technical</em> reasons, this feature is unlikely to happen in the near future.</p>

<h3>This is one of the stupidest things I have ever seen?</h3>
<p>We always appreciate the feedback :)</p>